In [1]:
from util.backtest import *
import matplotlib.pyplot as plt
from matplotlib import cm
import pymongo

plt.style.use('seaborn')
plt.rcParams['font.sans-serif'] = ['Microsoft JhengHei']
plt.rcParams['axes.unicode_minus'] =False

In [2]:
CONNECTION_STRING = "mongodb://localhost:27017/"
# CONNECTION_STRING = "mongodb://0.tcp.jp.ngrok.io:13921/"
# CONNECTION_STRING = "mongodb+srv://Frank:cc840724@serverlessinstance0.rngcn.mongodb.net/?retryWrites=true&w=majority"

mongo_client = pymongo.MongoClient(CONNECTION_STRING)

db = mongo_client["Binance"]
perpetual_hour = db['Perpetual_1h']

result = list(perpetual_hour.find({},{'openTime':1,'symbol':1,'Close':1,'quoteAssetVolume':1,'_id':0}))
df = pd.DataFrame(result)
# df['openTime'] = pd.to_datetime(df['openTime'],unit = 'ms')
df

              openTime     Close quoteAssetVolume   symbol
0        1577808000000   7207.71   36619561.73809  btcusdt
1        1577811600000   7163.61   51931229.35848  btcusdt
2        1577815200000   7164.97   39332873.36984  btcusdt
3        1577818800000   7168.24   23586431.86975  btcusdt
4        1577822400000   7170.96   16462436.43776  btcusdt
...                ...       ...              ...      ...
2545404  1673661600000  0.003653         0.000000   scusdt
2545405  1673665200000  0.003653         0.000000   scusdt
2545406  1673668800000  0.003653         0.000000   scusdt
2545407  1673672400000  0.003653         0.000000   scusdt
2545408  1673676000000  0.003653         0.000000   scusdt

[2545409 rows x 4 columns]

In [55]:
close= df.pivot(values = 'Close',index = 'openTime',columns = 'symbol').astype(float)
Volume= df.pivot(values = 'quoteAssetVolume',index = 'openTime',columns = 'symbol').astype(float)

close.index = pd.to_datetime(close.index,unit = 'ms') - timedelta(hours=8)
Volume.index = pd.to_datetime(Volume.index,unit = 'ms') - timedelta(hours=8)

market_filter = close.fillna(0)

ret = close.sort_index().ffill().bfill().pct_change()
ret.tail()

symbol,1000luncusdt,1000shibusdt,1000xecusdt,1inchusdt,aaveusdt,adausdt,algousdt,aliceusdt,alphausdt,ancusdt,...,xemusdt,xlmusdt,xmrusdt,xrpusdt,xtzusdt,yfiusdt,zecusdt,zenusdt,zilusdt,zrxusdt
openTime,,,,,,,,,,,,,,,,,,,,,
2023-01-13 18:00:00,0.051198,-0.021837,0.020014,-0.004557,-0.000270,-0.002774,0.000440,-0.009434,0.011799,0.0,...,0.002809,0.001036,0.005806,-0.000248,0.008412,-0.001750,-0.002743,-0.002252,-0.018910,-0.003939
2023-01-13 19:00:00,-0.027979,0.002480,-0.013635,0.001248,-0.002701,-0.003894,-0.000440,-0.004762,0.002527,0.0,...,-0.005602,0.005404,0.002144,-0.004958,0.014599,-0.001607,-0.005290,-0.003336,-0.003023,0.010381
2023-01-13 20:00:00,0.012793,0.007328,-0.000337,-0.000623,-0.000542,-0.009774,-0.004403,0.004101,-0.009694,0.0,...,0.000000,0.000229,-0.001262,-0.001246,0.006166,0.002633,0.003616,0.002855,0.003412,-0.000489
2023-01-13 21:00:00,0.011053,0.016344,-0.002361,0.014972,0.013006,0.010434,0.006192,0.009530,-0.006460,0.0,...,0.005634,0.005030,0.000824,0.003492,0.009193,0.002189,0.004451,-0.001767,0.007556,0.033774
2023-01-13 22:00:00,0.011973,0.010597,0.023665,0.019668,0.043199,0.029863,0.030769,0.020904,0.046207,0.0,...,0.016807,0.017745,0.012951,0.009694,0.030364,0.052701,0.020257,0.033238,0.027747,0.037879

In [56]:
len1 = 60

_close = close.sort_index()

In [10]:
bm = close['btcusdt'].pct_change()
beta = close.copy()
beta[:] = 0
for col in close.columns:
    beta[col] = pd.DataFrame({col:close[col].pct_change()*100,"BM":bm*100}).rolling(len1).cov().unstack()[col]['BM']

In [57]:
close_np = close.pct_change().fillna(0).to_numpy().T
beta = close.pct_change().fillna(0).to_numpy().T
beta[:,:] = 0
# for col in close.columns:
#     beta[col] = pd.DataFrame({col:close[col].pct_change()*100,"BM":bm*100}).rolling(len1).cov().unstack()[col]['BM']
beta

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [68]:
close_np[0].shape
# for i in range(close_np.shape[1]):
#     beta[i]
np.cov(bm.fillna(0).to_numpy()[:] * 100,close_np[100][:] * 100)
# close_np[0]
# bm.shape
# close_np[1]

array([[0.64602437, 0.52375116],
       [0.52375116, 1.4060364 ]])

In [69]:
pd.DataFrame({'BM':bm.fillna(0).to_numpy()[:] * 100,'close':close_np[100][:] * 100}).cov()

             BM     close
BM     0.646024  0.523751
close  0.523751  1.406036

In [77]:
CONNECTION_STRING = "mongodb://localhost:27017/"
# CONNECTION_STRING = "mongodb://0.tcp.jp.ngrok.io:13921/"
# CONNECTION_STRING = "mongodb+srv://Frank:cc840724@serverlessinstance0.rngcn.mongodb.net/?retryWrites=true&w=majority"

mongo_client = pymongo.MongoClient(CONNECTION_STRING)

db = mongo_client["Binance"]
perpetual_hour = db['Perpetual_5m']

result = list(perpetual_hour.find({'$or':[{'symbol':'ethusdt'},{'symbol':'btcusdt'}]},{'openTime':1,'symbol':1,'Close':1,'quoteAssetVolume':1,'_id':0}))
df2 = pd.DataFrame(result)
# df['openTime'] = pd.to_datetime(df['openTime'],unit = 'ms')
df2

             openTime    Close quoteAssetVolume   symbol
0       1577808000000     7208    8629143.93393  btcusdt
1       1577808300000  7213.09    3845661.85312  btcusdt
2       1577808600000  7202.39    3091679.49278  btcusdt
3       1577808900000  7218.47    5662924.71837  btcusdt
4       1577809200000  7213.20    2968214.21747  btcusdt
...               ...      ...              ...      ...
639618  1673750100000  1523.01   25892524.25388  ethusdt
639619  1673750400000  1524.68   14906925.50659  ethusdt
639620  1673750700000  1525.39   13995999.90521  ethusdt
639621  1673751000000  1525.28    9820653.72575  ethusdt
639622  1673751300000  1524.61    1067608.04800  ethusdt

[639623 rows x 4 columns]

In [81]:
close= df2.pivot(values = 'Close',index = 'openTime',columns = 'symbol').astype(float)
ret = close.pct_change().fillna(0)
ret.cov()

symbol    btcusdt   ethusdt
symbol
btcusdt  0.000006  0.000007
ethusdt  0.000007  0.000011

In [110]:
start = datetime.now().timestamp()
ret.rolling(10**2).cov()
end = datetime.now().timestamp()
end - start

0.3443470001220703

In [111]:
tmp = ret.T.to_numpy()
tmp.shape

(2, 319812)

In [113]:
start = datetime.now().timestamp()
for i in range(10**2,tmp.shape[1]):
    np.cov(tmp[0][i-100:i],tmp[1][i-100:i])

end = datetime.now().timestamp()
end - start

5.215030908584595